GET STARTED

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
import sys

print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

SYNTAX

In [3]:
if 8 > 1:
  print("eight is more than one")

eight is more than one

In [4]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

COMMENTS

In [ ]:
#This is a comment 
print("Hello, World!") #THIS CODE OUTPUT "Hello, World!"

VARIABLE

In [5]:
x = 5  # it is integer
y = "John" #it is string
print(x)
print(y)

5
John

In [7]:
x = str(8)    # x will be '8'
y = int(8)    # y will be 8
z = float(8)  # z will be 8.0
print(type(x),type(y),type(z))

<class 'str'> <class 'int'> <class 'float'>

In [8]:
a = 4
A = "Sally"
#A will not overwrite a

print(a,A)

4 Sally

In [ ]:
my_variable_name = "John"
MyVariableName = "John"
myVariableName = "John" 
#can be write so but without special symbols and gaps

In [13]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(fruits )

apple
banana
['apple', 'banana', 'cherry']

In [15]:
x, y, z = "O", "Bana", "Cry"
print(x)
print(y)
print(z)

O
Bana
Cry

In [14]:
x = y = z = "ali"
print(x)
print(y)
print(z)

ali
ali
ali

In [ ]:
x = "KBTU "
y = "is "
z = "awesome"
print(x + y + z)

In [16]:
x = "NICE"

def myfunc():
  x = "fantastic"
  print("KBTU is " + x)

myfunc()

print("KBTU is " + x)

KBTU is fantastic
KBTU is NICE

DATA TYPE

In [18]:
x = "Hello World"	#str	
y = 20	#int	
z = 20.5	#float	
t = 1j	#complex	
w = ["apple", "banana", "cherry"]	#list	
q = ("apple", "banana", "cherry")	#tuple	
r = range(6)	#range	
i = {"name" : "John", "age" : 36}	#dict	
g = {"apple", "banana", "cherry"}	#set	
h = frozenset({"apple", "banana", "cherry"})	#frozenset	
k = bool(5)	#bool	
l = bytes(5)	#bytes	
c = bytearray(5)	#bytearray	
v = memoryview(bytes(5))	#memoryview	
b = None	#NoneType

True b'\x00\x00\x00\x00\x00'

NUMBER TYPE

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

In [20]:
x = 35e3
y = 35656222554887711
z = -5j
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'int'>
<class 'complex'>

In [28]:
import random

print(random.randrange(1, 20))

5

CASTING

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
#output only decimal part

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("5.2") # w will be 4.2

In [ ]:
x = str("s789") # x will be 's1'
y = str(2)    # y will be '2'
z = str(4.0)  # z will be '3.0'

STRING

In [1]:
print("Hello") #the same
print('Hello')

Hello
Hello

In [2]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = "Hello, World!"
print(a[1])

In [3]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
a = "Hello, World!"
print(len(a))

In [4]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

In [5]:
txt = "The best things in life are free!"
print("expensive" not in txt)  #инверсия

True

In [1]:
b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
b = "Hello, World!"
print(b[:5])

In [ ]:
b = "Hello, World!"
print(b[2:])

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

In [2]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [3]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!" ,remove gaps in the end and begin

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

In [4]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

In [6]:
txt = "We are the so-called \"Vikings\" from the north."

In [ ]:
capitalize()	#Converts the first character to upper case
casefold()	#Converts string into lower case
center()	#Returns a centered string
count()	#Returns the number of times a specified value occurs in a string
encode()	#Returns an encoded version of the string
endswith()	#Returns true if the string ends with the specified value
expandtabs()	#Sets the tab size of the string
find()	#Searches the string for a specified value and returns the position of where it was found
format()	#Formats specified values in a string
format_map()	#Formats specified values in a string
index()	#Searches the string for a specified value and returns the position of where it was found
isalnum()	#Returns True if all characters in the string are alphanumeric
isalpha()	#Returns True if all characters in the string are in the alphabet
isascii()	#Returns True if all characters in the string are ascii characters
isdecimal()	#Returns True if all characters in the string are decimals
isdigit()	#Returns True if all characters in the string are digits
isidentifier()	#Returns True if the string is an identifier
islower()	#Returns True if all characters in the string are lower case
isnumeric()	#Returns True if all characters in the string are numeric
isprintable()	#Returns True if all characters in the string are printable
isspace()	#Returns True if all characters in the string are whitespaces
istitle()	#Returns True if the string follows the rules of a title
isupper()	#Returns True if all characters in the string are upper case
join()	#Joins the elements of an iterable to the end of the string
ljust()	#Returns a left justified version of the string
lower()	#Converts a string into lower case
lstrip()	#Returns a left trim version of the string
maketrans()	#Returns a translation table to be used in translations
partition()	#Returns a tuple where the string is parted into three parts
replace()	#Returns a string where a specified value is replaced with a specified value
rfind()	#Searches the string for a specified value and returns the last position of where it was found
rindex()	#Searches the string for a specified value and returns the last position of where it was found
rjust()	#Returns a right justified version of the string
rpartition()	#Returns a tuple where the string is parted into three parts
rsplit()	#Splits the string at the specified separator, and returns a list
rstrip()	#Returns a right trim version of the string
split()	#Splits the string at the specified separator, and returns a list
splitlines()	#Splits the string at line breaks and returns a list
startswith()	#Returns true if the string starts with the specified value
strip()	#Returns a trimmed version of the string
swapcase()	#Swaps cases, lower case becomes upper case and vice versa
title()	#Converts the first character of each word to upper case
translate()	#Returns a translated string
upper()	#Converts a string into upper case
zfill()	#Fills the string with a specified number of 0 values at the beginning

In [1]:
a = "xa" 
print(a.split("x"))

['', 'a']